.cardRestaurantXS{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.2rem 0rem;
    &__images{
        width: 100%;
        & div{
            border-radius: 10px;
        }
    }
    &__title{
        width: 100%;
        text-align: left;
        padding-left: 0.2rem;
        padding-bottom: 0.7rem;
    }
    
}