@use "src/styles/utils" as *;

.GoBack {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: $c-text;
}

.GoBackXL {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: $c-text;
  position: absolute;
  top: calc($TOP-margin-level-1 + 5px);
  right: $RIGHT-margin;
}
