$c-text: #47535B;
$c-titles: #374147;
$break-point: 880px;
$margin-bottom-paragraphs: 8px;
$line-height: 1.3;

// DESKTOP
$TOP-margin-level-1: 82px;
$TOP-margin-level-2: 180px;
$RIGHT-margin: 70px;
$LEFT-margin-level-1: 50px;
$LEFT-margin-level-2: 200px;
$HEIGHT-level-1: 60px;

//MOBILE
$TOP-margin-mobile: 70px;
$SIDES-margin-mobile-titles: 20px;
$SIDES-margin-mobile-text: 25px;
$SIDES-margin-mobile-imgs: 10px;