$c-text: #47535B;
$c-text-menuXL: #fff;
$c-titles: #374147;
$break-point: 1200px;
$margin-bottom-paragraphs: 8px;
$line-height: 1.3;
$c-text-light: #c4c5c3;
$c-text-footer: #121212;


// DESKTOP
$TOP-margin-level-1: 82px;
$TOP-margin-level-2: 180px;
$RIGHT-margin: 70px;
$LEFT-margin-level-1: 50px;
$LEFT-margin-level-2: 260px;
$HEIGHT-level-1: 60px;

//MOBILE
$TOP-margin-mobile: 65px;
$SIDES-margin-mobile-titles: 20px;
$SIDES-margin-mobile-text: 25px;
$SIDES-margin-mobile-imgs: 10px;