@use "src/styles/utils" as *;

.ButtonsCTAs {
  display: flex;
  justify-content: space-evenly;
  padding-top: 15px;

  &__buton {
    @include button;
  }
}

.ExtraButtonsCTA {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-top: 25px;
  &__buton {
    margin-top: 5px;
    font-size: 12px !important;
  }
}

@media (min-width: $break-point) {
  .ButtonsCTAs {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    
    &__buton {
      @include button;
    }
  }
  .ExtraButtonsCTAs {
    justify-content: space-around;
    padding: 35px 0px;
    border-bottom: 1px solid $c-text-light;
    border-top: 1px solid $c-text-light;
  }
}
