@use "src/styles/utils" as *;

@keyframes hoverImg {
  0% {
    filter: brightness(100%);
  }
  100% {
    filter: brightness(50%);
  }
}
@keyframes hoverName {
  0% {
    width: 350px;
    visibility: hidden;
    opacity: 0;
  }
  100% {
    width: 120px;
    visibility: visible;
    opacity: 1;
  }
}
/******************** MOBILE *********************/
.HomeXL {
  display: none;
}
.NavHomeXL {
  display: none;
}

.HomeXS {
  width: 100%;
  
  &__imageContainer{
    background-image: url('./../../images/fondo-pantalla.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
  }
  &__restaurantsContainer{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0rem;
    & > h1{
      font-family: "Montserrat,sans-serif";
      font-weight: normal;
      font-size: 32px;
  }
  }
}

/******************** DESKTOP *********************/

@media (min-width: $break-point) {
  .HomeXS {
    display: none;
  }

  .NavHomeXL {
    height: calc($TOP-margin-mobile + 35px);
    width: 100%;
    display: block;
    padding: 0px 40px 0px 32px;

    &__container {
      display: flex;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      height: 100%;

      &--img {
        width: 100px;
      }

      &--menu {
        width: 37%;
        display: flex;
        justify-content: space-between;
        &--item {
          text-decoration: none;
          color: $c-text;
          position: relative;
          font-family: "Montserrat", sans-serif;
          font-size: 14px;

          &:hover {
            color: $c-text;
            cursor: pointer;
          }

          &::after {
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 1px;
            color: $c-text;
            position: absolute;
            background: $c-text;
            transition: width 0.4s ease 0s, left 0.4s ease 0s;
            width: 0;
          }
          &:hover::after {
            width: 100%;
            color: $c-text;
            left: 0;
          }
        }
      }
    }
  }

  .HomeXL {
    position: relative;
    display: flex;
    flex-direction: column;

    &__container {
      cursor: pointer;
      padding: 0px 40px;

      &__row {
        padding-bottom: 30px;
        overflow: hidden;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
      }
    }
    .HomeXL__container__row--restCard {
      width: 50%;
      position: relative;

      &--name {
        visibility: hidden;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 32px;
        font-weight: 500;
        font-family: "Oswald", sans-serif;
        width: 100%;
        text-align: center;
        width: 120px;
      }

      &:hover {
        .HomeXL__container__row--restCard--img {
          filter: brightness(50%);
          animation: hoverImg 0.5s;
        }
        .HomeXL__container__row--restCard--name {
          animation: hoverName 0.4s;
          visibility: visible;
        }
      }
    }
  }
}
