@use "src/styles/utils" as *;

@keyframes hoverImg {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.9;
  }
}
/******************** MOBILE *********************/
.HomeXL {
  display: none;
}

.HomeXS {
  &--imgsContainer {
    position: fixed;
    width: 100%;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc((var(--vh) * 100) - $TOP-margin-mobile);
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    margin-top: calc($TOP-margin-mobile + 8px);

    &--img {
      max-height: 24%;
    }
  }
}

/******************** DESKTOP *********************/

@media (min-width: $break-point) {
  .HomeXS {
    display: none;
  }

  .HomeXL {
    display: initial;
    height: 100%;
    max-height: 100vh;
    position: fixed;
    width: 100%;
    position: relative;

    &__container {
      cursor: pointer;

      &__upperRow {
        height: 45vh;
        margin-bottom: 15px;
        overflow: hidden;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;

        &--img {
          width: 50%;
          &:hover {
            animation: hoverImg 0.4s;
            opacity: 0.9;
          }
        }
      }

      &__bottomRow {
        height: 65vh;
        overflow: hidden;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;

        &--img1 {
          width: 50%;
          height: 100%;
          &--img {
            height: 100%;
            &:hover {
              animation: hoverImg 0.4s;
              opacity: 0.9;
            }
          }
        }

        &--img2 {
          width: 10%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;

          &--logo {
            width: 120px;
            margin-bottom: 10px;
          }

          &--img {
            width: 100%;
            height: 100%;
            &:hover {
              animation: hoverImg 0.4s;
              opacity: 0.9;
            }
          }
        }

        &--img3 {
          width: 50%;
          height: 100%;
          &--img {
            height: 100%;
          }
          &:hover {
            animation: hoverImg 0.4s;
            opacity: 0.9;
          }
        }
      }
    }
  }
}

.LOGO_JFK {
  position: fixed;
  left: 50%;
  top: 46%;
  transform: translate(-50%, -50%);
  width: 100px;
}

.icon-swipe {
  pointer-events: none;
  animation-name: bounce-2;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  margin-top: 70px;
}

@keyframes bounce-2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
