@use "src/styles/utils" as *;

/************************************
      MOBILE FOOTER
  ************************************/

@media (max-width: $break-point) {
  .FooterXL {
    display: none;
  }

  .FooterXS {
    width: 100%;
    display: flex;
    justify-content: center;

    &__container {
      width: 85%;
      border-top: 1px solid #e3e7e1;
      background-color: rgb(255, 255, 255);
      margin-top: 50px;
      height: 25vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
  
      p {
        margin-bottom: 0 !important;
      }
  
      &__attomo {
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 0;
        width: 100%;
        margin-bottom: 30px;
  
        &--img {
          width: 54px;
          margin-left: 4px;
          background-color: transparent;
          z-index: 0;
        }
      }
  
      &__items {
        &--legal {
          text-decoration: none;
          line-height: 2rem;
          span {
            text-decoration: none;
            line-height: 2rem;
            color: $c-text-light !important;
          }
        }
      }

    }
  }
}

/************************************
      DESKTOP FOOTER 
  ************************************/

@media (min-width: $break-point) {
  .FooterXS {
    display: none;
  }

  .FooterXL {
    border-top: 1px solid #e3e7e175;
    margin-top: 120px;
    padding: 60px 0px 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;

    p {
      margin-bottom: 0 !important;
    }

    &__bottom {
      width: 100%;
      display: flex;

      &__attomo {
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 0;
        width: 100%;

        p {
          margin-bottom: 0 !important;
        }

        &--img {
          width: 54px;
          margin-left: 4px;
          background-color: transparent;
          z-index: 0;
        }
      }

      &__legal {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        &--item {
          margin-right: 20px;
          color: #e3e7e1;
          text-decoration: none;
        }
      }
    }
  }
}
