@use "src/styles/utils" as *;

/************************************
      MOBILE FOOTER
  ************************************/

@media (max-width: $break-point) {
  .FooterXL {
    display: none;
  }

  .FooterXS {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
    
    &__container {
      width: 85%;
      margin-top: 50px;
      height: 63vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      text-decoration: none;
      &__image{
        margin: 2rem 0rem;
        width: 30%;
      }
      & > p{
        width: 95%;
        color: $c-text-footer !important;
        font-family: "Montserrat", sans-serif;
        //font-weight: 500;
      }
      & h3{
        font-family: "Montserrat", sans-serif;
        font-size: 0.9rem;
        font-weight: 700;
        width: 90%;
        border-top: 1px solid #e3e7e1;
        padding-top: 2rem;
      }
  
      p  {
        margin-bottom: 0 !important;
        text-align: left;

      }
      &__data{
        width: 95%;
        padding-bottom: 4rem;
        
        & > p:nth-child(1){
          font-family: "Montserrat", sans-serif;
          //font-size: 1.2rem;
          font-weight: 700; 
        }
        & p:not(:first-child){
          font-family: "Montserrat", sans-serif;
          //font-size: 1.2rem;
          font-weight: 500; 
        }
      }
  
      &__attomo {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        line-height: 0;
        width: 100%;
        text-decoration: none;
        padding-bottom: 2rem;
        & > p{
          font-weight: 500;
          color: #a7a7a7;
        }
  
        &--img {
          width: 65px;
          margin-left: 4px;
          background-color: transparent;
          z-index: 0;
        }
      }
  
      &__items {
        display: flex;
        width: max-content;
        flex-wrap: wrap;
        height: min-content;
        gap: 0.5rem;
        width: 95%;
        margin-bottom: 50px;
        margin-top: 35px;
        & p {
          height: 10px;
        }
        &--legal {
          text-decoration: none;
          line-height: 2rem;
          span {
            text-decoration: none;
            line-height: 2rem;
            color: $c-text-footer !important;
            font-family: "Montserrat", sans-serif;
            font-weight: 500;

          }
        }
      }

    }
  }
}
.link{
    text-decoration: none;
    & > p{
      font-family: "Montserrat", sans-serif;
      //font-size: 1.2rem;
      font-weight: 500; 
    }
}

/************************************
      DESKTOP FOOTER 
  ************************************/

@media (min-width: $break-point) {
  .FooterXS {
    display: none;
  }

  .FooterXL {
    padding: 30px 0px 30px 0;
    display: flex;
    //flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    text-align: center;

    p {
      margin-bottom: 0 !important;
      font-size: 14px;
      font-family: "Montserrat", sans-serif;
      //font-weight: 500;
      color: #A7A7A7;
    }
    a{
      text-decoration: none;
    }

    &__bottom {
      width: 100%;
      display: flex;

      &__attomo {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        line-height: 0;
        gap: 1rem;
        width: 30%;
        text-decoration: none;

        p {
          margin-bottom: 0 !important;
        }

        &--img {
          width: 100px;
          margin-left: 14px;
          //height: 200px;
          background-color: transparent;
          z-index: 0;
         
        }
      }

      &__legal {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        //margin-top: 20px;
        width: 21%;
        height: min-content;
        &--item {
          height: min-content;
          margin-right: 20px;
          color: $c-text-light;
          text-decoration: none;
          
        }
      }
    }
  }
}
