@use "src/styles/utils" as *;

.Dishes {
  @include mobileSidesMargins;
  text-align: center;
  margin-top: 20px;
}

@media (min-width: $break-point) {
  .Dishes {
    text-align: left;
    margin: 0;
  }
}
